NODE_ENV=development
APP_PORT=9000
PORT=9000
MONGO_URI=mongodb+srv://renzofernandomd_db_user:renzofernandomd_db_password@graphql.oor9bkf.mongodb.net/compu3_graphql?retryWrites=true&w=majority
JWT_SECRET=change_me_access_secret
JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
SUPERADMIN_NAME=Ragnok Ironclaw
SUPERADMIN_EMAIL=superadmin@gringotts.hp
SUPERADMIN_PASSWORD=ChangeMe2026*
