dist
node_modules
build
coverage
.nyc_output
logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.idea
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.env
.env.development.local
.env.test.local
.env.production.local
.env.local
.temp
.tmp
*.tsbuildinfo
package-lock.json
yarn.lock
bun.lockb
.pnp.*
.pnpm-store
